<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.order.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.wp.order.entity.Order">
        <id property="id" column="id"/>
        <result property="foodID" column="food_id"/>
        <result property="foodName" column="food_name"/>
        <result property="foodType" column="food_type"/>
        <result property="foodSize" column="food_size"/>
        <result property="num" column="num"/>
        <result property="time" column="time"/>
        <result property="la" column="la"/>
        <result property="foodPrice" column="food_price"/>
        <result property="orderId" column="orderid"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, food_id, food_name, food_type, food_size, num, time, la, food_price
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wp.order.entity.Order">
    insert into t_order (id, food_id, food_name, 
      food_type, food_size, num, 
      time, la, food_price,orderid
      )
    values (#{id,jdbcType=INTEGER}, #{foodID,jdbcType=VARCHAR}, #{foodName,jdbcType=VARCHAR}, 
      #{foodType,jdbcType=VARCHAR}, #{foodSize,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{la,jdbcType=VARCHAR}, #{foodPrice,jdbcType=INTEGER},
      #{orderid,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.wp.order.entity.Order" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="foodID != null">
                food_id,
            </if>
            <if test="foodName != null">
                food_name,
            </if>
            <if test="foodType != null">
                food_type,
            </if>
            <if test="foodSize != null">
                food_size,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="la != null">
                la,
            </if>
            <if test="foodPrice != null">
                food_price,
            </if>
            <if test="orderId != null">
                orderid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="foodID != null">
                #{foodID,jdbcType=VARCHAR},
            </if>
            <if test="foodName != null">
                #{foodName,jdbcType=VARCHAR},
            </if>
            <if test="foodType != null">
                #{foodType,jdbcType=VARCHAR},
            </if>
            <if test="foodSize != null">
                #{foodSize,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="la != null">
                #{la,jdbcType=VARCHAR},
            </if>
            <if test="foodPrice != null">
                #{foodPrice,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wp.order.entity.Order">
        update t_order
        <set>
            <if test="foodID != null">
                food_id = #{foodID,jdbcType=VARCHAR},
            </if>
            <if test="foodName != null">
                food_name = #{foodName,jdbcType=VARCHAR},
            </if>
            <if test="foodType != null">
                food_type = #{foodType,jdbcType=VARCHAR},
            </if>
            <if test="foodSize != null">
                food_size = #{foodSize,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="la != null">
                la = #{la,jdbcType=VARCHAR},
            </if>
            <if test="foodPrice != null">
                food_price = #{foodPrice,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateOrder">
        update t_order
        set la='DONE'
        where orderid=#{0} and id=#{1}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wp.order.entity.Order">
    update t_order
    set food_id = #{foodID,jdbcType=VARCHAR},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=VARCHAR},
      food_size = #{foodSize,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      la= #{la,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findBySeat" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_order where food_id=#{tab}
  </select>

    <select id="findAllOrder" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from t_order
  </select>

    <select id="findOrder" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select food_id,food_name,food_price,count(food_id) as num,la from t_order
    where orderid=#{0} group by food_id
  </select>
    <select id="getBefore" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from t_order
    where time  &lt; (select time from t_order where orderid=#{0} limit 1)
    and orderid in (select id from t_orderid where stat='${@com.wp.utils.Constants@ORDER_ND}')
    </select>
    <delete id="deleteBySeat" parameterType="java.lang.Integer">
    delete from t_order where orderid=#{0}
  </delete>
    <delete id="deleteOrder">
  delete from t_order where orderid=#{orderId,jdbcType=INTEGER}
   and food_id=#{foodID,jdbcType=VARCHAR} limit 1
</delete>
    <select id="search" parameterType="java.lang.Boolean" resultMap="BaseResultMap">
        select * from t_order
        <where>
            <if test='_parameter.get("1")=="1"'>
                id=1
            </if>

        </where>

    </select>
</mapper>