<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.restuarant.data.finance.dao.TransDao">
    <resultMap id="BaseMap" type="com.wp.restuarant.data.finance.entity.Trans">
        <result property="transId" column="transId" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="type" column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="time" column="time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="turnover" column="turnover" javaType="java.lang.Double" jdbcType="DOUBLE"/>
        <result property="detail" column="detail" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
    <insert id="insert" parameterType="com.wp.restuarant.data.finance.entity.Trans">
        INSERT  INTO t_trans(transId,type,time,turnover,detail)
        VALUES (#{transId},#{type},#{time},#{turnover},#{detail})
    </insert>
    <select id="select" resultMap="BaseMap">
        SELECT * FROM t_trans
    </select>

    <select id="selectIncome" resultMap="BaseMap">
        SELECT * FROM t_trans WHERE type=1
    </select>
    <select id="selectOutcome" resultMap="BaseMap">
        SELECT * FROM t_trans WHERE type=2
    </select>
    <update id="update" parameterType="com.wp.restuarant.data.finance.entity.Trans">
        UPDATE  t_trans
        <set>
            <if test="type !=null">
                  type=#{type},
            </if>
            <if test="time !=null">
                time=#{time},
            </if>
            <if test="turnover">
                turnover=#{turnover},
            </if>
            <if test="detail">
                detail=#{detail}
            </if>
        </set>
        where transId=#{transId}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
            DELETE  FROM t_trans WHERE transId=#{0}
    </delete>
</mapper>