<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.restuarant.data.food.dao.FoodsMapper">
    <resultMap id="BaseResultMap" type="com.wp.restuarant.data.food.entity.Foods">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="image_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="size" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="la" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="detail" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, image_name, type, size, price, la, detail
  </sql>
    <select id="findPraise" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select size from t_food where id = #{0}
    </select>
    <update id="updatePraiseNum" parameterType="java.lang.Integer">
        update t_food set size=size+1 where id=#{0}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_food
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--<select id="selectLimit" resultMap="BaseResultMap">-->
    <!--select <include refid="Base_Column_List" />-->
    <!--from t_food-->
    <!--where id limit #{0},20-->
    <!--</select>-->
    <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from t_food where type=#{0};
    </select>
    <select id="selectLimit" parameterType="com.wp.utils.Conditions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_food
        <where>
            <if test="condition1!='' and condition1!=null">
                condition1=#{condition1}
            </if>
                <if test="condition != null">
               AND type IN
                <foreach collection="condition" item="c" open="(" close=")" index="index" separator=",">
                    #{c}
                </foreach>
                </if>
          AND id limit #{page},20
        </where>
    </select>
    <select id="count" resultType="java.lang.Integer">
    select count(id) from t_food
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_food
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wp.restuarant.data.food.entity.Foods">
    insert into t_food (id, name, image_name, 
      type, size, price, 
      la, detail)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{imageName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{la,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR})
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_food (name, image_name,
        type, size, price,
        la, detail)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR}, #{item.imageName,jdbcType=VARCHAR},
            #{item.type,jdbcType=VARCHAR}, #{item.size,jdbcType=INTEGER}, #{item.price,jdbcType=INTEGER},
            #{item.la,jdbcType=VARCHAR}, #{item.detail,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.wp.restuarant.data.food.entity.Foods">
        insert into t_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="imageName != null">
                image_name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="la != null">
                la,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="imageName != null">
                #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="la != null">
                #{la,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wp.restuarant.data.food.entity.Foods">
        update t_food
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="imageName != null">
                image_name = #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="la != null">
                la = #{la,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wp.restuarant.data.food.entity.Foods">
    update t_food
    set name = #{name,jdbcType=VARCHAR},
      image_name = #{imageName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      la = #{la,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findAll" resultMap="BaseResultMap">
    select * from t_food
  </select>
    <select id="findSizePriceByName" resultMap="BaseResultMap" parameterType="String">
    select * from t_food where name=#{tab,jdbcType=VARCHAR}
  </select>
    <select id="findByType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_food where type=#{0}
    </select>
</mapper>