.container {
    margin-left: 100px;
}

.container h1 {

}

.row {
    margin-left: 100px;
}
.footer{
    width:90%;
    margin-left:50px;

}
.header{
    width:90%;
    margin-left:50px;
    z-index: 3;
    position:fixed;
    background-color:aliceblue;
}
.left{
    width:40%;
    margin-left:50px;
    height: 800px;
}
.footer{
    width:90%;
}
.main{
    position:absolute;
    margin-top:-320px;
    margin-left:157px;
    width:880px;
    height:800PX;
    z-index: 1;
}
.order{
    background-color:aqua;
    width:200px;
    margin-left:-50px;
    position:fixed;
}
.list{
    margin:0px;
    padding:0px;
}
.money, .num{
    margin-left:60px;
    margin-top:-19px;
}